@using RoastMeApplication.Models.Entities;
@using RoastMeApplication.Models.DAL;
@{
    ViewBag.Title = "Home Page";
    List<Picture> pictures = this.ViewBag.Pictures as List<Picture>;

    double pages = ViewBag.pages;
}
<div class="page-header row">
    <h3 class="text-warning"><span class="glyphicon glyphicon-fire"></span>Roast Feed</h3>

    <h5><a href="?ListSort=Recent"><span class="glyphicon glyphicon-time"></span> Recent</a>    <a href="?ListSort=Popular" class="text-danger"><span class="glyphicon glyphicon-heart"></span> Popular</a></h5>
</div>


@if (pictures != null && pictures.Count != 0)
{
    foreach (Picture p in pictures)
    {
        <div class="row">
            <a href="@Url.Action("PictureDetail", "Picture", p.Id)">
                <div class="picture_index">
                    <div id="userInfo">
                        <p id="index_username">@p.Participant.Username</p>
                        <p id="index_caption">@p.Caption</p>
                    </div>


                    <hr />
                    <img class="img-circle" src="~/Content/Images/@p.ImagePath" alt="Caption" height="450" width="450" />
                    @{
                        List<Comment> comments = p.Comments.OrderByDescending(c => c.Time).ToList();
                        if (comments.Count > 5)
                        {
                            comments = comments.GetRange(0, 4);
                        }

                    }
                    @if (comments != null && comments.Count != 0)
                    {
                        foreach (Comment c in comments)
                        {
                            <p>@c.Message</p>
                        }
                    }
                    @*<h4>...</h4>*@
                    <hr />
                </div>
            </a>
        </div>
    }
}



<div>
    @{
        for (int i = 1; i <= pages; i++)
        {
            <a href="?page=@i" class="page">@i</a>
        }
    }
</div>