@using RoastMeApplication.Models.Entities;
@model Picture

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/myJs.js"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    @using (Html.BeginForm("Add", "Picture", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Upload Image</label>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input type="file" name="ImageFile" id="imgInp" required>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id='img-upload' />
                </div>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Caption, htmlAttributes: new { placeholder = "Add a caption!", @class = "form-control", rows = 5, id = "comment" })
            </div>
            <input type="submit" value="Submit" class="btn" onclick="location.href='@Url.Action("New", "Picture")';return false;"/>
            <button class="btn" onclick="location.href='@Url.Action("Cancel", "Picture")';return false;">Cancel</button>
        </div>


    }
</body>
</html>

